<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Angle Result</title>
  </head>
  <body>

    <p>The angle of the hands is: @Model.ClockAngle()</p>
    <p>
    </p>
  </body>
</html>
